# Work with default functions of each one of the data type

# List & it's Default function

In [ ]:
# Extend (This allows you to join two lists together)

In [2]:
a = ["payal", "werulkar"]
print(a)
a.extend(["BE", "Electrical branch"])
print(a)

['payal', 'werulkar']
['payal', 'werulkar', 'BE', 'Electrical branch']

In [ ]:
# Remove (Removes the first item from the list)

In [25]:
a = ["payal", "werulkar"]
print(a)
a.extend(["BE", "Electrical branch"])
print(a)

['payal', 'werulkar']
['payal', 'werulkar', 'BE', 'Electrical branch']

In [22]:
# Clear (Removes all items from the list)

In [7]:
a = ["payal", "werulkar", "BE", "Electrical branch"]
print(a)
a.clear()
print(a)

['payal', 'werulkar', 'BE', 'Electrical branch']
[]

In [8]:
# Reverse (Reverses the elements of the list in place.)

In [9]:
a = [5,4,3,2,1]
a.reverse()
print(a)

[1, 2, 3, 4, 5]

In [11]:
# MAX (The default argument specifies an object to return if the provided iterable is empty. )

In [17]:
a = ["payal", "werulkar", "BE"]
print(max(a))

a = ["payal", "12", "ant"]
print(max(a))

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(max(a, b))

werulkar
payal
[1, 2, 3, 4, 5]

In [18]:
#min

In [20]:
a = ["payal", "werulkar", "BE"]
print(min(a))

a = ["payal", "12", "ant"]
print(min(a))

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(min(a, b))

BE
12
[1, 2, 3, 4]

# Dictionary & it's Default function

In [43]:
#clear()

In [50]:
biodata = {"Name":"Payal", "Age":"22", "Number":"12345"}

In [51]:
print(biodata)

{'Name': 'Payal', 'Age': '22', 'Number': '12345'}

In [52]:
biodata.clear()

In [53]:
print(biodata)

{}

In [54]:
#items()   it is used to display tuple pair

In [58]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a)
print(a.items())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)])

In [59]:
#popitem()  fuction will remove and return an arbitary item

In [64]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a)
print(a.popitem())
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9, 4: 16}

In [63]:
# keys  it display key vlaue in list

In [65]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a)
print(a.keys())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
dict_keys([1, 2, 3, 4, 5])

In [ ]:
# values  it dislay list of all vlaues

In [81]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a.values())

dict_values([1, 4, 9, 16, 25])

In [ ]:
# copy

In [72]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a)
print(a.copy())

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [71]:
#update

In [80]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a.update())

None

In [74]:
#get

In [84]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a.get(5))

25

In [76]:
#pop

In [78]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a.pop(3))

9

In [82]:
#setdefault

In [83]:
a = {1:1,2:4,3:9,4:16,5:25}
print(a.setdefault(4))

16

# Sets and it's default function

In [85]:
#SETS 
#set is basically consist of unordered elements,unique elements,unindexed elemeny

In [87]:
a={1,4,2,4,'aaa','abc',9,2}
b=set([1,4,3,'abc',87])
print(a)
print(b)

{1, 2, 4, 'aaa', 9, 'abc'}
{1, 3, 4, 'abc', 87}

In [88]:
c=set()
print(c)

set()

In [13]:
a={1,4,2,4,'aaa','abc',9,2}
b=set([1,4,3,'abc',87])
print(a)
print(b)

{'aaa', 1, 2, 4, 9, 'abc'}
{1, 3, 4, 'abc', 87}

In [89]:
dir(a)  #this are the methods that used it along the set

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [14]:
a={1,4,2,4,'aaa','abc',9,2}
b=set([1,4,3,'abc',87])
print(a)
print(b)

{'aaa', 1, 2, 4, 9, 'abc'}
{1, 3, 4, 'abc', 87}

In [16]:
a.add(3)
a

{1, 2, 3, 4, 9, 'aaa', 'abc'}

In [ ]:
#Update

In [18]:
a.update([3,'xyz',4])
a

{1, 2, 3, 4, 9, 'aaa', 'abc', 'xyz'}

In [ ]:
# remove()

In [19]:
a.remove('aaa')
a

{1, 2, 3, 4, 9, 'abc', 'xyz'}

In [20]:
# discard

In [23]:
a.discard(9)
a

{2, 3, 4, 'abc', 'xyz'}

In [24]:
#pop

In [25]:
a.pop()
a

{3, 4, 'abc', 'xyz'}

In [26]:
#union   to find the union of a & b

In [28]:
a.union(b)

{1, 3, 4, 87, 'abc', 'xyz'}

In [29]:
#pipeline symbol is also a union

In [30]:
a|b

{1, 3, 4, 87, 'abc', 'xyz'}

In [32]:
#intersection

In [33]:
a.intersection(b)

{3, 4, 'abc'}

In [34]:
a&b #same as intersection

{3, 4, 'abc'}

In [35]:
#difference   produce a new set consisting of element that are present only in one of those set
# we can used '-' symbol for difference

In [36]:
a-b

{'xyz'}

In [37]:
b-a

{1, 87}

In [38]:
a.difference(b)

{'xyz'}

In [39]:
#frozenset  it is set whose values cannot be modified

In [40]:
b=frozenset(a)
print(b)

frozenset({'abc', 3, 4, 'xyz'})

# Tuple &  it's default method

In [41]:
#tuple is collection of heterogeneous python objects
# difference between tuple and list is the only in tuple have curve bracket and in list have square bracket
# list is mutable where tuple is immutable
# tuple may not be used parantheses

In [42]:
city="nagpur",

In [43]:
type(city)

tuple

In [45]:
city=("nagpur")
city

'nagpur'

In [46]:
city="nagpur","pune","mumbai"
city

('nagpur', 'pune', 'mumbai')

In [47]:
#index

In [49]:
city[1]

'pune'

In [50]:
city[-1]

'mumbai'

In [51]:
#nesting

In [52]:
nest=(city)

In [53]:
print(city)

('nagpur', 'pune', 'mumbai')

In [54]:
#repeatation

In [57]:
rep=("python", )*7

In [58]:
rep

('python', 'python', 'python', 'python', 'python', 'python', 'python')

In [59]:
#slicing

In [62]:
num= (1,2,3,4)
num[1:]

(2, 3, 4)

# String & it's default methods

In [65]:
st = "PAYAL"
st

'PAYAL'

In [64]:
st.lower()

'payal'

In [66]:
st.upper()

'PAYAL'

In [67]:
st.capitalize()

'Payal'

In [68]:
"this is a  string".capitalize()

'This is a  string'

In [75]:
st.count("L")

1

In [76]:
st.find("P")

0

In [77]:
st.rfind("1")

-1

In [78]:
str1 = "    hellow   "

In [79]:
str1

'    hellow   '

In [80]:
str1.lstrip()

'hellow   '

In [81]:
str1.rstrip()

'    hellow'

In [83]:
str1 = str1.strip()
str1

'hellow'

In [85]:
st = "12ty"

In [86]:
st.isalpha()

False

In [88]:
st.isdigit()

False

In [89]:
st.isupper()

False

In [90]:
st.isidentifier()

False